# Data Science Tools and Ecosystem

## Author
Ricardo Yael Pérez Rincón

Introduction
Here, Data Sciente Tools and Ecosystem are sumarized

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List some popular Data Science Tools
- Show how to implement some arithmetic expressions

Some of the most popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Plotly

|Data Siencie Tools|
--------------------
|RStudio           |
|Apache Spark      |
|Tensor Flow       |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
hour = 200//60
minutes = 200 % 60
print("200 minutes are "+str(hour)+" hours and "+str(minutes)+" minutes.")
#This will convert 200 minutes to hours by diving by 60

200 minutes are 3 hours and 20 minutes.